body {
    background-image: url(FondEcranMain.jpg);
    background-size:cover;
    text-align: center;
}

#EcranConnexion {
    padding: 1vw;
    margin: auto auto;
    background-color: whitesmoke;
    width:20vw;
    border-radius: 30px;
}

form {
    text-align: left;
}

#submit {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
}